.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #2c786c;
  border-radius: 5px;
}
ul {
  display: block;
  text-align: right;
  color: #faf5e4;
  text-shadow: 1px 1px 2px #004445;
  line-height: 19px;
  list-style-type: none;
  margin-top: 10px;
  margin: 0;
  padding: 0;
}
body {
  background: hsl(44, 100%, 49%);
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

#searchedCity,
#currentTemperature,
#humidity {
  text-align: right;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #faf5e4;
  text-shadow: 1px 1px 2px #004445;
}

#searchedCity {
  position: relative;
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  text-shadow: 1px 1px 2px #004445;
  text-align: center;
}
.searchbar {
  margin: 30px;
  margin-left: 0;
  text-align: left;
}

#searchButton {
  border-radius: 10px;
  background-color: #faf5e4;
  border-color: #faf5e4;
  box-shadow: 2px 2px 2px #004445;
  color: #004445;
  font-family: "Quicksand", sans-serif;
  padding: 5px 8px;
}
#searchButton:hover {
  background-color: #004445;
  color: #faf5e4;
}
.locationButton {
  border-radius: 7px;
  background-color: transparent;
  border-color: #faf5e4;
  box-shadow: 2px 2px 2px #004445;
  color: #faf5e4;
  font-family: "Quicksand", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 5px 8px;
  text-shadow: 1px 1px 2px #004445;
  display: block;
  margin-left: auto;
}
.locationButton:hover {
  background-color: #004445;
  color: #faf5e4;
}

.forecast {
  color: #faf5e4;
  margin-top: 30px;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px #004445;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#forecastNextWeek {
  color: #004445;
  text-align: center;
}

.card-subtitle {
  color: #004445 !important;
}

.fa-solid {
  font-size: 15px;
}

hr {
  color: #faf5e4;
}

.credits,
a {
  color: #004445;
  display: block;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
a {
  display: inline;
}

/*https://palettes.shecodes.io/palettes/545
https://www.fontspace.com/category/70s*/
