body {
  background: hsl(44, 100%, 49%);
  background-image: url("yellowbackground.jpg");
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #faf5e4;
  border-radius: 5px;
}

.searchButton,
.locationButton {
  color: #004445 !important;
  background-color: #faf5e4 !important;
  margin: 8px;
  font-size: 16px !important;
  width: 41px;
}

.searchButton:hover,
.locationButton:hover {
  background-color: #004445 !important;
  color: #faf5e4 !important;
}
ul {
  display: block;
  text-align: left;
  color: #faf5e4;
  font-size: 13px;
  text-shadow: 1px 1px 2px #004445;

  list-style-type: none;
  margin-top: 10px;
  margin: 0;
  padding: 10px 10px 30px 0;
}
li {
  padding-bottom: 3px;
}

#icon {
  font-size: xx-small;
}

#searchedCity,
#currentTemperature,
#currentHumidity {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #faf5e4;
  text-shadow: 1px 1px 2px #004445;
}

#searchedCity {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  text-align: left;
}

#discription {
  text-transform: capitalize;
}
.forecast {
  color: #faf5e4;
  margin-top: 30px;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px #004445;
}

.fa-solid {
  font-size: 16px;
}
/*CSS for forecast. From aComing Up This Week */
.forecastNextWeek {
  color: #2c786c;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.weekday {
  opacity: 0.8;
}
.tempLowHighForecast {
  font-size: 0.9rem;
  font-weight: 600;
}
.maxStyle {
}
.minStyle {
  opacity: 0.6;
}

/*CSS after forecast*/
hr {
  color: #faf5e4;
  margin: 30px;
  opacity: 1;
}

.credits {
  color: #faf5e4;
  display: block;
  font-size: 11px;
  text-align: center;
  margin-bottom: 0px;
  opacity: 0.75;
}
a {
  display: inline;
  text-decoration: none;
  color: #faf5e4;
}

/*https://palettes.shecodes.io/palettes/545
https://www.fontspace.com/category/70s*/
